*,
*::beofre,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

::root {
  --fonts: helvetica, sans-serif, "roboto";
  
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: lightblue;
  text-align: center;
  font-family: var(--fonts);
}

.new {
  font-size: 3rem;
  margin: 15px;
  padding: 9px 22px;
  border-radius: 9px;
  border: 1px dashed;
  background-color: #fff;
  cursor: pointer;
}

.new:hover {
  color: red;
}

/* style for dialog and form */
dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 24px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #333333;
}

dialog p  {
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

dialog p,
dialog button,
dialog form {
  margin: 0;
}

.close {
  border: none;
  background-color: #fff;
  position: relative;
}

.close-icon {
  fill: red;
  position: absolute;   
  margin-left: 270px;
  margin-top: -50px
}

.close-icon:hover {
  background-color: #cecece;
  border-radius: 9px;
}

.add {
  cursor: pointer;
  width: 50%;
  font-size: 1.2rem;
  padding: 7px;
  background-color: rgb(54, 254, 4);
  border: 1px solid #ccc;
  border-radius: 8px;
  align-self: center; 
}

.add:hover {
  box-shadow: 0 2px 1px #111;
  
}

form {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

form label {
  font-family: sans;
  font-weight: 800;
}

form input,
form textarea {
  border: 1px solid #ccc;
  padding: 9px;
  border-radius: 8px;
  margin-bottom: 22px
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 2px 2px 1px #cecece;
}

form textarea {
  resize: none;
  min-height: 100px;
  max-height: 100px;
}

/* style for the book container and card */
.bookContainer {
  margin: 0 atuo;
}

.card {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  margin: 15px;
}

/* chapter instead of pages */
/* .card:nth-child(-n+2) p:nth-child(4)::after {
  content: " Chapters";
} */


.card p:nth-child(1) {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.card p:nth-child(2) {
  font-family: monospace;
  font-size: 0.9rem;
}

.card p:nth-child(4)::after {
  content: " Pages";
}

.card p:nth-child(1), 
.card p:nth-child(2) {
  margin: 0 0 0.4rem 0;
}

.card p:nth-child(2),
.card p:nth-child(3) {
  margin: 0 0 0.9rem 0;
}

.card p:nth-child(3),
.card p:nth-child(4),
.card p:nth-child(5) {
  margin: 0 0 0.2rem 0;
  font-family: inter, sans-serif;
}

.card p:nth-child(5) {
  margin-bottom: 22px;
}

.delete {
  cursor: pointer;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 4px 19px;
}

.delete:hover,
.edit:hover {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 3px #ccc;
}

.edit {
  cursor: pointer;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 7px;
  padding: 4px 19px;
}

.button-cont {
  display: flex;
  justify-content: space-around;
}


/* for desktops and tablets */
@media screen and (min-width: 768px) {
  .bookContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200Px, 1fr));
    gap: 40px;
  }
}