*,
*::beofre,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

::root {
  --fonts: helvetica, sans-serif, "roboto";
  
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  background-color: lightblue;
  text-align: center;
  font-family: var(--fonts);
}

/* style for dialog and form */
dialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 24px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #333333;
}


.close {
  border: none;
  background-color: #fff;
  position: relative;
}

.close-icon {
  fill: red;
  position: absolute;   
  margin-left: 270px;
  margin-top: -29px
}

.close-icon:hover {
  background-color: #cecece;
  border-radius: 9px;
}

.add {
  width: 50%;
  font-size: 1.2rem;
  padding: 7px;
  background-color: rgb(54, 254, 4);
  border: 1px solid #ccc;
  border-radius: 8px;
  align-self: center; 
}

.add:hover {
  box-shadow: 0 2px 1px #111;
  
}

form {
  display: flex;
  flex-direction: column;
  padding: 22px;
}

form label {
  font-family: var(--fonts);
  font-weight: 800;
}

form input,
form textarea {
  border: 1px solid #ccc;
  padding: 9px;
  border-radius: 8px;
  margin-bottom: 22px
}

form input:focus,
form textarea:focus {
  outline: none;
  box-shadow: 2px 2px 1px #cecece;
}

form textarea {
  resize: none;
  min-height: 100px;
  max-height: 100px;
}

/* style for the book container and card */


.card {
  width: 100%;
  max-width: 350px;
  height: auto;
  border: 2px solid #000000;
  padding: 16px;
  border-radius: 8px;
  background-color: #ffffff;
}

.card p:nth-child(4)::before {
  content: "Pages: ";
  font-weight: bold;
}